@import "variables";

.fc {
  .fc-button-primary {

  }
  .fc-today-button {

    //if has disabled
    &[disabled] {
      opacity: unset;
      border: unset;

    }
  }

  .fc-day-today {
    background-color: lighten($brand-4, 5%) !important;
  }
  .fc-col-header-cell.fc-day-today {
    background-color: $brand-4 !important;
    color: #000 !important;
  }
}