@import "variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/helpers";

.bg-login {
  background-image: url('../img/patterns/pattern.png');
  background-repeat: repeat;
}

.bg-stageing {
  background-image: url('../img/patterns/stageing.png');
  background-repeat: repeat;
}
