@import "variables";

.btn-brand-1, .btn-primary {
  color: $white;
  &:hover {
    background: darken($brand-1, 10%);
    border-color: darken($brand-1, 7%);
    color: darken($white, 5%);
  }
  &.active, &:active {
    color: $white;
  }
}

.btn-brand-3 {
  &:hover {
    background: lighten($brand-3, 10%);
    border-color: lighten($brand-3, 7%);
  }
}

.btn-success {
  color: $white;
}